<div class="container">
  <h1>Add a plant for <%= @garden.name %></h1>
  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
